body {
	padding-top: 60px;
	font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑";
}

.navbar-nav>li>a {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.navbar {
	min-height: 60px !important
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
